<template name="header">
  <div class="header noselect {{reactive headerClasses}}">
    <div class="clearfix">
      <a target="_blank" class="brand pull-left"> {{>section 'brand'}} </a>
      {{>section 'headerAfterBrand'}}
      <a href="#" class="header-menu pull-right">{{>section 'headerMenu'}}</a>
    </div>
    {{>UI.contentBlock}}
  </div>
</template>
