@import "{ohif:design}/app"

.help-dialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000

  width: 600px
  max-height: calc(100% - 300px)
  position: absolute
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  .help-nav-bar
    float: left

  .help-button
    float: left

  .pressed
    stroke: #fff
    color: #fff
    fill: #fff

  .depressed
    theme('color', '$textSecondaryColor')
    theme('stroke', '$textSecondaryColor')
    theme('fill', '$textSecondaryColor')

  .help-title
    float: left
    margin-left: 20px

  h3
    font-weight: 400
    top: 50%
    transform: translateY(-50%)

  .help-dialog-cancel
    float: right

  li
    clear: both
    text-align: left

  h5
    clear: both
    text-align: left
    float: left

  .sub-help-nav-bar
    float: left
    clear: both

  .sub-help-button
    float: left

  .sub-help-title
    float: left
    margin-left: 20px

  .sub-help-body
    height: 200px
    width: 100%
    overflow-y: auto
    overflow-x: hidden
    theme('scrollbar-color', '$textSecondaryColor $uiGrayDarkest')
    display: inline-block
    float: left


    &::-webkit-scrollbar
      them('background', '$uiGrayDarkest')
      width: 10px

    &::-webkit-scrollbar-thumb
      theme('background', '$textSecondaryColor')
      border-radius: 10px
      theme('border-right', '2px solid $uiGrayDarkest')

  .sub-help-body p
    clear: both
    text-align: left

  svg
    background-color: transparent
    width: 21px
    height: 21px
    fill: white
