<!-- JamesAPetts Edit: Add in Study Description and minimisation.-->
<template name="studyBrowser">
    <div class="studyBrowser">
        <div class="scrollableStudyThumbnails">
            {{#each study in studies}}
                {{#if study.studyDescription}}
                  <div>
                    <i id="{{study.studyInstanceUid}}" class="{{showHideButton study}} btn btn-sm btn-secondary js-show-hide"></i>
                    <h2 class="scrollableStudyThumbnailsStudyDescription">
                      {{study.studyDescription}}
                    </h2>
                  </div>
                {{/if}}

                <div class="scrollableStudySeriesList {{isStudyVisable study}}" > <!--style="visibility: {{isStudyVisable study}}"-->
                <!--{{#if isStudyVisable study}}-->
                  {{#each thumbnail in (sort (studyThumbnails study) thumbnailSortBy thumbnailSortType)}}
                      {{>thumbnailEntry thumbnail=thumbnail}}
                  {{/each}}
                <!--{{/if}}-->
                </div>
            {{/each}}
        </div>
    </div>
</template>
