@import "{ohif:design}/app"


.studyBrowser
  float: left
  height: 100%
  width: 100%
  overflow: hidden
  background-color: black
  padding-bottom: 20px
  theme('color', '$textSecondaryColor')

  .scrollableStudyThumbnails
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    padding-bottom: 50px
    padding-right: 16px
    padding-left: 4px

    //JamesAPetts
    theme('scrollbar-color', '$imageSliderColor black')




    //JamesAPetts - OHIF defaults
    /** margin-right: -16px */
    /** &::-webkit-scrollbar */
    /**  display: none */

    &::-webkit-scrollbar
      background: black
      width: 10px

    &::-webkit-scrollbar-thumb
      theme('background', '$imageSliderColor')
      border-radius: 10px
      border-right: 2px solid black

  .scrollableStudyThumbnailsStudyDescription
    theme('color', '$textPrimaryColor')
    font-size: 20px
    line-height: 1.3em
    margin-left: 5px
    margin-top: 5px
    max-width: 217px
    min-height: 36px
    position: relative
    // JamesAPetts
    word-wrap: break-word
    display: inline-block

  .isVisible
    display: inline

  .isHidden
    display: none
