@import "{ohif:design}/app"

.stackSyncDialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000

  max-height: calc(100% - 100px)
  max-width: 400px
  position: absolute
  margin: auto

  overflow: hidden
  padding: 10px
  border-radius: 8px
  text-align: center

  h3
    font-weight: 400

  .stackSyncDescription
    float: left
    text-align: left

  .stackSyncBody
    float: left
    text-align: left
    font-weight: normal

  .stackSyncBody table
      border: 1px
      padding: 2px
      float: left
      border-collapse: separate
      border-spacing: 10px 0px

  .stackSyncDialogCancel
    float: right

  .js-syncScansByDefault-check
    pointer-events: all
