<template name="stackSyncDialog">
  <dialog id="stackSyncDialog"
        class="stackSyncDialog noselect"
        oncontextmenu="return false">
        <div>
          <h5 class="stackSyncDescription">Stack Scroll Synchronization Settings</h5>
          <a class="stackSyncDialogCancel btn btn-sm btn-secondary">
            <i class="fa fa-times-circle fa-2x"></i>
          </a>
        </div>
        <div class="stackSyncBody">
          <table>
            <tr>
              <th>Sync Method</th>
              <th>
                <select class="js-switchSyncMethod-select">
                  <option value='Position'>Image Position</option>
                  <option value='Index'>Frame Index</option>
                </select>
              </th>
            </tr>
            <tr>
              <th>Sync scans by default</th>
              <th><input class="js-syncScansByDefault-check" type="checkbox" {{isChecked}} name="sync" value=""></th>
            </tr>
          </table>
        </div>
  </dialog>
</template>
