<template name="flexboxLayout">
    <div class="viewerSection">
        <div class="sidebarMenu sidebar-left {{#if leftSidebarOpen}}sidebar-open{{/if}}">
            {{#if leftSidebarScanList}}
              {{>studyBrowser (clone this)}}
            {{/if}}
            {{#if leftSidebarChangeSession}}
            <div class="xnat-navigation-window">
              {{>React component=XNATNavigation}}
            </div>
            {{/if}}
        </div>
        <div class="mainContent {{#if leftSidebarOpen}}sidebar-left-open{{/if}} {{#if rightSidebarOpen}}sidebar-right-open{{/if}}">
            {{>standaloneViewerMain (clone this)}}
        </div>

        <div class="sidebarMenu sidebar-right {{#if rightSidebarOpen}}sidebar-open{{/if}}">
          {{#if rightSidebarRoiContourMenu}}
            <div class="roi-contour-menu">
              {{> React component=RoiContourMenu
                key=roiContourMenuId
                ImportCallbackOrComponent=roiContourMenuImportComponent
                ExportCallbackOrComponent=roiContourMenuExportComponent
              }}
            </div>
          {{/if}}
          {{#if rightSidebarSegmentationMenu}}
            <div class="segmentation-menu">
              {{> React component=SegmentationMenu
                key=segmentationMenuId
                ImportCallbackOrComponent=segmentationMenuImportComponent
                ExportCallbackOrComponent=segmentationMenuExportComponent
              }}
            </div>
          {{/if}}
        </div>
    </div>
</template>
