<template name="thumbnailEntry">
    {{#let stack=this.thumbnail.stack}}
        <div class="thumbnailEntry noselect m-t-1 m-b-2 {{draggableClass}} {{#if isDisplaySetActive stack.displaySetInstanceUid viewportIndex}}active{{/if}}">
            <div class="p-x-1">
                {{>imageThumbnail thumbnail=thumbnail currentStudy=currentStudy}}
            </div>
            <div class="seriesDetails flex-h m-x-1 {{#unless stack.seriesDescription}}info-only{{/unless}}">
                <div class="seriesDescription flex-grow">
                    {{paddedSeriesNumber stack.seriesDescription}}
                </div>
                <div class="seriesInformation">
                    <div class="item item-series clearfix">
                        <div class="icon">S:</div>
                        <div class="value">{{stack.seriesNumber}}</div>
                    </div>
                    {{#unless isUndefined instanceNumber}}
                        <div class="item item-series clearfix">
                            <div class="icon">I:</div>
                            <div class="value">{{instanceNumber}}</div>
                        </div>
                    {{/unless}}
                    <div class="item item-frames clearfix">
                        <div class="icon"><div></div></div>
                        <div class="value">{{stack.numImageFrames}}</div>
                    </div>
                    <div class="item item-frames clearfix roi-icon-flex">
                      {{#if hasROIContours}}
                        <div class="roi-icon">
                          <svg class="roi-icon-svg"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 18 18"
                            xml:space="preserve"
                          >
                            <use xlink:href="packages/icr_peppermint-tools/assets/icons.svg#icon-freehand-menu" />
                          </svg>
                        </div>
                      {{/if}}
                      {{#if hasSegments}}
                        <div class="roi-icon">
                          <svg class="roi-icon-svg"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 18 18"
                            xml:space="preserve"
                          >
                            <use xlink:href="packages/icr_peppermint-tools/assets/icons.svg#icon-segmentation-menu" />
                          </svg>
                        </div>
                      {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/let}}
</template>
