@import "{ohif:design}/app"

$seriesCountBackgroundColor = #678696

.thumbnailEntry
  cursor: pointer
  display: table
  margin: 0 auto

  &.draggable
    cursor: copy
    cursor: -webkit-grab
    cursor: -moz-grab

  .seriesDetails
    theme('color', '$textPrimaryColor')
    font-size: 12px
    line-height: 1.3em
    margin-top: 5px
    max-width: 217px
    min-height: 36px
    position: relative

    &.info-only

      .seriesDescription
        display: none

      .seriesInformation
        display: flex
        flex-grow: 1
        float: none
        max-width: none
        padding-right: 0

        .item
          flex: 1
          text-align: center

          .icon, .value
            display: inline
            float: none
            line-height: 25px

          .value
            margin-left: 0
            width: auto

  .seriesInformation
    padding-right: 4px
    padding-left: 5px
    max-width: 50px

    .item-frames .icon
      height: 18px

    .value
      theme('color', '$textSecondaryColor')
      display: inline-block
      float: right
      font-size: 12px
      margin-left: 4px
      overflow: display
      white-space: nowrap
      width: calc(100% - 15px)

    .roi-icon-flex
      display: flex

      .roi-icon
        theme('color', '$activeColor')
        display: inline
        float: left
        width: 18px
        height: 18px

        .roi-icon-svg
          theme('stroke', '$textPrimaryColor')
          width: 16px
          height: 16px
          x: 0px
          y: 0px

    .icon
      theme('color', '$activeColor')
      display: inline-block
      float: left
      font-size: 10px
      font-weight: 900
      text-align: right
      width: 11px

      div
        background-color: $seriesCountBackgroundColor
        margin-top: 6px
        position: relative

        &:after
          theme('background-color', '$activeColor')
          box-shadow: 1px 1px rgba(0, 0, 0, .115)
          left: -5px
          position: absolute
          top: -5px

        &
        &:after
          theme('border', '1px solid $primaryBackgroundColor')
          content: ''
          display: inline-block
          height: 11px
          width: 11px
