@import "{ohif:design}/app"
@import "{icr:peppermint-tools}/client/components/viewer/peppermint-table.styl";

.mask-export-list-dialog
  theme('color', '$textPrimaryColor')
  z-index: 1000

  width: 100%
  max-height: 100%
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  h5, label
    font-weight: 400
    float: left


  .mask-export-list-header
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-between

  h3
    font-weight: 400
    text-align: left

  .mask-export-list-cancel
    text-align: right
    margin-top: 16px

  svg
    background-color: transparent
    width: 32px
    height: 32px
    fill: white

  .roiCollectionBuilderTableButton
    width: 100%

  .mask-export-list-body
    max-height: 300px
    padding-right: 18px
    overflow-y: auto
    overflow-x: hidden
    display: inline-block
    theme('scrollbar-color', '$textSecondaryColor $uiGrayDarkest')

    &::-webkit-scrollbar
      them('background', '$uiGrayDarkest')
      width: 10px

    &::-webkit-scrollbar-thumb
      theme('background', '$textSecondaryColor')
      border-radius: 10px
      theme('border-right', '2px solid $uiGrayDarkest')

  .mask-export-list-collection-info
    border-top: 1px solid
    border-bottom: 1px solid


  .mask-export-list-footer
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-around
    align-items: center

    input
      margin: 5px
