@import "{ohif:design}/app"

.xnat-navigation-window
  theme('color', '$textPrimaryColor')

  float: left
  height: 100%
  width: 97%
  background-color: black
  overflow: auto
  theme('scrollbar-color', '$imageSliderColor black')
  margin-left: 8px
  padding-bottom: 20px

  &::-webkit-scrollbar
    background: black
    width: 10px

  &::-webkit-scrollbar-thumb
    theme('background', '$imageSliderColor')
    border-radius: 10px
    border-right: 2px solid black

  h5
    font-weight: 400
    text-align: left

  h6
    font-weight: 400
    text-align: left
    theme('color', '$textSecondaryColor')

  .xnat-navigation-tree
    max-height: calc(100%)
    text-align: left

    display:inline-block

    .xnat-nav-button
      margin-left: 10px
      margin-right: 10px

    .xnat-nav-button-disabled
      background-color: grey

    .xnat-nav-horizontal-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      flex-direction: row
      align-items: center
      align-self: flex-start

    ul
      padding-left: 10px
      list-style-type: none

      .xnat-nav-session
        margin-left: 50px
        margin-right: 10px

  .xnat-nav-shared
    color: #FFCB99

  .xnat-nav-active
    color: #FFFF00
