@import "{ohif:design}/app"

.roi-export-list-dialog
  theme('color', '$textPrimaryColor')
  z-index: 1000

  max-height: 100%
  width: 100%
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  h5, label
    font-weight: 400
    float: left


  .roi-export-list-header
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-between

  h3
    font-weight: 400
    text-align: left

  .roi-export-list-cancel
    text-align: right
    margin-top: 16px

  svg
    background-color: transparent
    width: 32px
    height: 32px
    fill: white

  .roi-export-list-body
    max-height: 300px
    padding-right: 18px
    overflow-y: auto
    overflow-x: hidden
    display: inline-block
    theme('scrollbar-color', '$textSecondaryColor $uiGrayDarkest')

    &::-webkit-scrollbar
      them('background', '$uiGrayDarkest')
      width: 10px

    &::-webkit-scrollbar-thumb
      theme('background', '$textSecondaryColor')
      border-radius: 10px
      theme('border-right', '2px solid $uiGrayDarkest')

    .left-aligned-cell
      text-align: left

  .roi-export-list-body table, tr, th, td
    padding: 0px 10px

  .roi-export-list-body th
    white-space: nowrap

  .roi-export-list-footer
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-between
    align-items: center

    input
      margin: 5px
