<template name="ioDialogs">
  <dialog id="ioProgress"
      class="io-dialog noselect"
      oncontextmenu="return false">
      <h5 id="ioNotificationText"></h5>
      <h1 id="ioProgressText"></h1>
  </dialog>

  <dialog id="ioMessage"
    class="io-message-dialog noselect"
    oncontextmenu="return false">
    <div>
      {{> React component=MessageDialog title=messageDialogTitle body=messageDialogBody}}
    </div>
  </dialog>

  <!-- Confirmation Dialog -->
  <dialog id="ioConfirmationDialog"
    class="io-confirmation-dialog noselect"
    oncontextmenu="return false">
    <div>
      <h5 class="io-confirmation-title"></h5>
      <p class="io-confirmation-body"></p>
    </div>
    <div class="io-confirmation-horizontal-box">
      <a class="js-io-confirmation-confirm btn btn-sm btn-primary">
        <i class="fa fa fa-check-circle fa-2x"></i>
      </a>
      <a class="js-io-confirmation-cancel btn btn-sm btn-primary">
        <i class="fa fa fa-times-circle fa-2x"></i>
      </a>
    </div>
  </dialog>
</template>
