@import "{ohif:design}/app"

.io-dialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  overflow: hidden
  padding: 0px
  width: 400px
  height: 120px
  border-radius: 8px
  text-align: center

  h5, label
    font-weight: 400

.io-message-dialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000

  max-height: calc(100% - 100px)
  max-width: 400px
  position: absolute
  margin: auto

  overflow: hidden
  padding: 10px
  border-radius: 8px
  text-align: center

  .io-dialog-cancel
    float: right

  .io-description
    float: left

  h3
    font-weight: 400

  .io-body
    clear: both
    float: left
    text-align: left

.io-confirmation-dialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000

  max-height: calc(100% - 50px)
  max-width: calc(500px)
  position: absolute
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  h3
    font-weight: 400
    text-align: left
    border-radius: 8px
    padding: 2px
