<template name="viewer">
    {{#if Template.subscriptionsReady}}
        <div class="viewerDialogs">
            {{>cineDialog}}
            {{>layoutChooser}}
            {{>annotationDialogs}}
            {{>stackSyncDialog}}
            {{>ioDialogs}}
            {{>helpDialogs}}
            {{>freehandSetNameDialogs}}
            {{>brushMetadataDialogs}}
        </div>
        <div id="viewer">
            {{>toolbarSection (clone this state=state)}}
            {{>flexboxLayout (clone this state=state)}}
        </div>
    {{else}}
        {{>loadingText}}
    {{/if}}
</template>
