@import "{ohif:design}/app"

.brush-metadata-dialog
  theme('border', '1px solid $uiBorderColor', 0.95)
  theme('background', '$uiGrayDarkest', 0.95)
  theme('color', '$textSecondaryColor')
  z-index: 1000

  max-height: calc(100% - 50px)
  max-width: calc(100% - 100px)
  position: absolute
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  h3
    font-weight: 400
    text-align: left
    border-radius: 8px

  .brush-metadata-input
    width: 100%

  .brush-metadata-new-button
    width: 100%

  .brush-metadata-new-button-invalid
    width: 100%
    theme('background', '$uiGray')

  .brush-metadata-label-input
    margin-bottom: 20px

  .brush-metadata-vert-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    flex-direction: column
    justify-context: flex-start

  .brush-metadata-vert-box label
    text-align: left

  .brush-metadata-horizontal-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    flex-direction: row
    align-items: baseline
    justify-content: space-between

  .brush-metadata-validity-indicator
    margin-left: 10px
