@import "{ohif:design}/app"

body>.header

  .brand
    height: 30px
    display: inline-block
    text-decoration: none

    .logo-image
      display: inline-block
      fill: transparent
      float: left
      height: 100%
      margin: 0 8px 0 0
      width: 32px

    .logo-image-icr
      display: inline-block
      fill: transparent
      float: left
      height: 100%
      margin: 0 8px 0 0
      width: 48px

    .logo-text
      display: inline-block
      font-family: $logoFontFamily
      font-size: 14px
      font-weight: $logoFontWeight
      theme('color', '$textPrimaryColor')
      line-height: 30px

  a.header-menu
    theme('color', '$textPrimaryColor')

    .header-options
      font-size: 13px

    .menu-toggle
      display: inline-block
      height: 18px

    .research-use
      font-size: 13px
      theme('color', '$textSecondaryColor')
      font-weight: bold
